<?xml version="1.0"?>

<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

      <connectionStrings> 
  
  
   <add name="DBBaglan" connectionString="server=.;database=kisi_bilgileri;integrated security=true"></add></connectionStrings>

     <system.web>
       
  <compilation debug="true" targetFramework="4.0"></compilation>
     </system.web>

  
  
  


</configuration>
